body{
  background-color: #fefefe;
}

.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  margin-left: 330px;
  font-family: Arial, sans-serif;
  /* background-color: aquamarine; */
}
.App h1{
  font-size: 30px;
  color:rgb(59, 94, 6);
}

input {
  padding: 4px;
  margin-right: 10px;
  font-size: 12px;
  background-color: aliceblue;
  border-radius: 4px;
}

.App button {
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: aliceblue;
  color:black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #dad5d5;
  color: white;
  border: none;
  cursor: pointer;
  padding:  4px;
  border-radius: 5px;
  border: 1px solid gray;
}

button:hover {
  background-color: #322fd3;
}